<form action="/doggos" method="POST">
  Name: <input type="text" name="doggo[name]">
  Wand Core: <input type="text" name="doggo[wand_core]">
  House: <input type="text" name="doggo[house]">
  <input type="submit" value="Create Doggo">
</form>
